# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
csvpath = "../WeatherPy/output_data/weather_data.csv"
new_cities_df = pd.read_csv(csvpath)
clean_cities_data = new_cities_df.dropna()
del clean_cities_data["Unnamed: 0"]
clean_cities_data.head()

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,Butaritari,KI,1635474647,3.0707,172.7902,82.83,68,1,13.38
1,Mashhad,IR,1635474884,36.2970,59.6062,37.54,81,0,4.61
2,Ushuaia,AR,1635474718,-54.8000,-68.3000,56.86,47,20,11.50
3,Sur,OM,1635474885,22.5667,59.5289,78.24,61,0,1.19
4,Busselton,AU,1635474715,-33.6500,115.3333,60.04,51,54,7.40

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
gmaps.configure(api_key=g_key)

In [16]:
locations = clean_cities_data[["Latitude","Longitude"]]
humidity = clean_cities_data["Humidity"].astype(float)

In [17]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations,weights = humidity, 
                                    dissipating = False, 
                                    max_intensity=100, 
                                    point_radius = 2)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
narrow_cities = clean_cities_data.loc[(clean_cities_data["Max Temperature"]>70) & (clean_cities_data["Max Temperature"]<80) & (clean_cities_data["Cloudiness"] == 0) & (clean_cities_data ["Wind Speed"] < 10),:]
narrow_cities = narrow_cities.dropna(how='any')
narrow_cities.reset_index(inplace=True)
del narrow_cities['index']
narrow_cities.head()

,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,Sur,OM,1635474885,22.5667,59.5289,78.24,61,0,1.19
1,Ahmadpur East,PK,1635474914,29.1431,71.2598,77.45,20,0,4.45
2,Pāsighāt,IN,1635474917,28.0667,95.3333,77.67,46,0,1.61
3,Puerto Peñasco,MX,1635474833,31.3167,-113.5333,77.92,35,0,4.00
4,Hatillo,PR,1635474926,18.4863,-66.8254,79.11,85,0,3.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [52]:
hotel_df = narrow_cities.loc[:,["Latitude","Longitude","City","Country"]]
hotel_df

    Latitude  Longitude            City Country
0    22.5667    59.5289             Sur      OM
1    29.1431    71.2598   Ahmadpur East      PK
2    28.0667    95.3333        Pāsighāt      IN
3    31.3167  -113.5333  Puerto Peñasco      MX
4    18.4863   -66.8254         Hatillo      PR
5    31.2156    29.9553      Alexandria      EG
6    35.2167   138.6167      Fujinomiya      JP
7    25.4833  -107.9167        Mocorito      MX
8    27.9167    96.1667            Tezu      IN
9    26.9147    70.9181       Jaisalmer      IN
10   17.9716   -66.9080         Guánica      PR
11   24.8500    79.9333       Khajuraho      IN
12   25.1216    62.3254          Gwadar      PK
13   22.9333    57.5333           Nizwá      OM
14   23.4667    73.3000          Modāsa      IN

In [57]:
HotelName = []

for index, row in hotel_df.iterrows():
    hotelcity = row["City"]
    hotelcountry = row["Country"]
    
    coord = f"{row['Latitude']},{row['Longitude']}"
    radius = 5000 
    target_type = "hotel"
    keyword = "hotel"
    
    params = {
        "location": coord,
        "radius": radius,
        "keyword": keyword,
        "key": g_key
    }
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url,params=params).json()
    results = response['results']
    
    try:
        HotelName.append(results[0]['name'])
    except:
        HotelName.append(np.nan)
hotel_df["Hotel Name"] = HotelName
hotel_df

,Latitude,Longitude,City,Country,Hotel Name
0,22.5667,59.5289,Sur,OM,Sur Hotel
1,29.1431,71.2598,Ahmadpur East,PK,Rana Hotel
2,28.0667,95.3333,Pāsighāt,IN,"The Serene Abode, Pasighat (A.P)"
3,31.3167,-113.5333,Puerto Peñasco,MX,Best Western Laos Mar Hotel and Suites
4,18.4863,-66.8254,Hatillo,PR,Hotel Parador El Buen Cafe
5,31.2156,29.9553,Alexandria,EG,Plaza Hotel Alexandria
6,35.2167,138.6167,Fujinomiya,JP,Super Hotel Fujinomiya
7,25.4833,-107.9167,Mocorito,MX,Punto Madero Hotel & Plaza
8,27.9167,96.1667,Tezu,IN,Hotel Taboka
9,26.9147,70.9181,Jaisalmer,IN,Shahi Palace Hotel
10,17.9716,-66.9080,Guánica,PR,Copamarina Beach Resort & Spa
11,24.8500,79.9333,Khajuraho,IN,SYNA Heritage Hotel - A Heritage Hotel in Khaj...
12,25.1216,62.3254,Gwadar,PK,Zaver Pearl Continental Hotel
13,22.9333,57.5333,Nizwá,OM,Nizwa Hotel Apartments
14,23.4667,73.3000,Modāsa,IN,STAY-INN HOTEL & RESORT Dada Dadi Ni Wadi. Mod...

In [58]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [59]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))